

<h1>Users</h1>
@if (Users == null) { return; }
<table class="table table-striped table-hover w-75">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Email Confirmed</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Users)
    {
        <tr>
            <td><a href="UserDetails/@user.Id">@user.UserName</a></td>
            <td>@user.Email</td>
            <td>
                <input type="checkbox" disabled="@(!user.EmailConfirmed || !CanManageUsers)" checked="@user.EmailConfirmed"  />
            </td>
        </tr>
    }
    </tbody>
</table>

